html {
  height: 100%;
}
body {
  /* background-image: url('src/assets/vinesss2.jpeg'); */
  height: 100%;
  margin: 0;
}

body::before {
  content: '';
  background-image: url('assets/warm.jpeg');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

body::after {
  content: '';
  /* background-color: rgba(126, 123, 85, 0.5); */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


/* .section-background {
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
} */


.aboutme-background {
  background-image: url('assets/sunflower3.jpeg');
  background-size: cover;
  /* background-position: center; */
  height: 100vh;
  display: flex;
  color:antiquewhite;
}
.aboutme-background {
  /* background-color: antiquewhite; */
  padding: 20px;
  min-height: 100vh;
  /* display: flex; */
  /* justify-content: center; */
  align-items: center;
}

 .header-container {
  position: absolute;
  top: 20px;
  left: 20px;
  text-align: left;

} 

.aboutme-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
}

.aboutme-section {
  flex: 1;
  background-color: antiquewhite;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.journey-background{
  background-image: url('assets/grow1.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
}

.projects-background{
  background-image: url('assets/garden2.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  justify-content: center;
  display: flex;
  /* align-items: center; */
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  overflow-y: auto;
  margin-right: 10px;

}

.project-card {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;

}

.project-screenshot {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.2s;
}

.project-screenshot:hover {
  transform: scale(1.05);

} 



/* Navbar.css */
.nav {
  background-color: #1b181c;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: #ddd;
  color: purple;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav li {
  float: right;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
}


@media screen and (min-width:768px){
  .menu-item {
    grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
    max-width: 40rem;
  }
  .photo {
    height: 175px;
  }
} 
@media (max-width: 768px) {
  body {
      background-size: 100% 100%;
  }
}
@media screen and (min-width: 1200px) {
  .section-center {
    width:95vw;
    grid-template-columns: 1fr 1fr;
  }
  .photo {
    height: 150px;
  }
} 



/* Navbar.css */
/* .nav {
  background-color: #1b181c;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.nav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: #ddd;
  color: purple;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav li {
  float: right;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
} */

