html {
  height: 100%;
}
body {
  /* background-image: url('src/assets/vinesss2.jpeg'); */
  height: 100%;
}

body::before {
  content: '';
  background-image: url('src/assets/vinesss2.jpeg');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* filter:blur(5px) grayscale(70%); */
  z-index: -1;
}

body::after {
  content: '';
  background-color: rgba(27, 25, 25, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


.aboutme-background {
  background-image: url('src/assets/sunflower.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  color:antiquewhite;
}
.aboutme-background {
  background-color: antiquewhite;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  position: absolute;
  top: 20px;
  left: 20px;
  text-align: left;
}
.aboutme-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
}

.aboutme-section {
  flex: 1;
  background-color: antiquewhite;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.journey-background{
  background-image: url('src/assets/growth2.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
}

.projects-background{
  background-image: url('src/assets/green blur .jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
}

.contact-background {
  background-image: url('src/assets/laptop.avif');
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  height: 100vh;
  display: flex;
  justify-content:right;
  align-items: center;
}
.contact-card-wrapper {
  display: flex;
  align-items: center; 
  margin-right: 700px;
  /* justify-content: flex-end */
  
}

.contact-img {
  width: 200px; 
  height: 200px; 
  border-radius: 50%; 
  object-fit: cover; 
  margin: auto;
  display: block; 
}


#root {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}
#page-content {
  flex-grow: 2;
}

/* Navbar.css */
.nav {
  background-color: #1b181c;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.nav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: #ddd;
  color: purple;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav li {
  float: right;
  text-align: center;
}

