
/* Journey.css */

/* body {
    background-image: url('growth2.jpeg')
} */

.blog {
    text-align: center;
    overflow-y: auto;

  }
  
  .scroll-container {
    max-height: 80vh; /* Adjust this value as needed */
    overflow-y: auto;
  }
  header {
    font-size: 2em;
    color: antiquewhite /* Change header color */
  }
  
  a {
    color: purple; /* Change link color */
    text-decoration: none;
  }
  
  a:hover {
    color: #9013FE; /* Change link color on hover */
  }
  
  .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .column {
    flex: 1;
    padding: 20px;
    max-width: 300px;
  }
  
  details {
    background-color: antiquewhite; /* Change background color of details */
    border: 1px solid #DDD;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  summary {
    /* font-weight: bold; */
    color: #333; /* Change summary color */
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    /* font-family: 'Times New Roman' */
  }
  
  h3 {
    color: #333; /* Change color of headings */
    font-family: 'Courier New', Courier, monospace;

  }
  
  p {
    color: #666; /* Change color of paragraphs and list items */
    font-family: 'Courier New', Courier, monospace;

  }
  